@import 'bourbon';
@import 'utils/reset';
@import 'default';
@import 'utils/mixins';
@import 'utils/variables';

body{
	background-color: $white;
}

.header {
	height: em(375);
	background-color: $secondaryGray;
}

.header__EP-logo{
	width: auto;
	height: 100%;
	background-image: url(../../img/innocentandcyniclogo.png);
	background-position: center center;
	background-size: auto auto;
	background-repeat: no-repeat;
}