@import 'bourbon';
@import 'utils/reset';
@import 'default';
@import 'utils/mixins';
@import 'utils/variables';
@import 'utils/helper';
@import 'utils/animations';
@import 'components/header';
@import 'modules/amp';
@import 'modules/content';
@import 'modules/playlist';

body{
	background-image: url(/img/texture.jpg);
}

main {
	max-width: 95%;
	margin: 0 auto;
}

.content__wrap {
	padding: 0 em(25);
}


.visible {
	opacity: 1;
}