@import 'bourbon';
@import 'utils/reset';
@import 'default';
@import 'utils/mixins';
@import 'utils/variables';
@import 'utils/helper';

body{
	background-image: url(../../img/texture.jpg);
}

main {
	max-width: 95%;
	margin: 0 auto;
}

// .pagewrapper {
// 	max-width: em($contentWidth);
// 	margin: em(20) auto;
// 	background-color: #046791;
// 	box-shadow: 0 0 2px $black;
// }

.content__wrap {
	padding: 0 em(25);
}

$module:    header;

.#{$module} {
	height: auto;
	max-width: em($contentWidth);
	position: relative;
	margin: 0 auto;
	min-height: em(390);
	margin-bottom: em(50);

	&__logo {
		width: em(256);
		height: em(267);
		background-image: url(../../img/logo.png);
		position: absolute;
		top: em(15);
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__EP-logo {
		width: auto;
		height: 100%;
		background-image: url(../../img/innocentandcyniclogo.png);
		background-position: center center;
		background-size: auto auto;
		background-repeat: no-repeat;
		display: none;
	}

	&__speaker {
		width: em(143);
		height: em(220);
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		left: em(20);
		bottom: 0;
		background-image: url("../../img/speaker.png");

		&:before {
			content: "";
			width: em(720);
			height: em(3);
			bottom: 0;
			left: 80%;
			position: absolute;
			background-color: #282428;
			z-index: 2;
		}
	}

	&__speaker--right {
		@extend .header__speaker;
		left: auto;
		right: em(20);

		&:before {
			content: none;
		}
	}

	&__title {
		font-family: $secondaryFontFamily;
		color: $white;
		text-shadow: 0 0 1px $black;
		padding-top: em(30,70);
	}

	&__social-pointer {
		position: absolute;
		top: em(50);
		left: em(200);
		opacity: 0.8;
		&:after {
			content: "";
			position: absolute;
			width: em(62);
			height: em(55);
			background-image: url(../../img/arrow.png);
			background-repeat: no-repeat;
			background-size: cover;
			left: em(-30);
			bottom: em(-35);
			opacity: 0.8;
		}
	}

	&__social-pointer--one {
		display: block;
		font-size: em(32);
		color: $white;
		font-family: $tertiaryFontFamily;
		@include transform(rotate(-3deg));
	}

	&__social-pointer--two {
		@extend .header__social-pointer--one;
		padding-left: em(30,24);
		margin-top: em(-5,24);
	}

	&__social-icons {
		position: absolute;
		width: em(120);
		height: em(80);
		top: em(107);
		left: em(30);
	}

	&__social-icon {
		cursor: pointer;
	}

	&__social-icon--fb {
		@extend .header__social-icon;
		width: em(42); 
		background-image: url(../../img/fb.png);
		height: em(40);
		position: absolute;
		left: 50%;
		margin-left: em(-28);
		top: em(6);
		@include transform(rotate(6deg));
	}

	&__social-icon--twitter {
		@extend .header__social-icon;
		width: em(43);
		height: em(37);
		background-image: url(../../img/twitter.png);
		position: absolute;
		left: 50%;
		margin-left: em(-21);
		bottom: 0;
	}

	&__social-icon--blogr {
		@extend .header__social-icon;
		width: em(42);
		height: em(41);
		position: absolute;
		background-image: url(../../img/blog.png);
		left: em(-1);
		bottom: em(2);
		@include transform(rotate(-20deg));
	}

	&__social-icon--yt {
		@extend .header__social-icon;
		width: em(42);
		height: em(38);
		position: absolute;
		background-image: url(../../img/yt.png);
		bottom: 0;
		right: 0;
		@include transform(rotate(-3deg));
	}

	&__nav {
		position: absolute;
		text-align: center;
		top: 100%;
		right: em(163);
		display: none; //temporary
	}

	&__nav-item {
		display: inline-block;
		vertical-align: middle;
		text-transform: lowercase;
		padding: em(5) em(10);
		color: $white;
		opacity: 0.96;
		letter-spacing: 0.3px;
		cursor: pointer;
		background-color: #282428;

		&:hover {
			background-color: lighten(#282428,10%);
		}
	}
}

$module:    amp;

.#{$module} {
	&__wrap {
		position: absolute;
		left: 0;
		right: 0;
		max-width: em(180);
		bottom: 0;
		height: em(164);
		margin: 0 auto;
	}
	&__head {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		max-width: em(179);
		margin: 0 auto;
		background-image: url(../../img/body_top.png);
		height: em(44);
		z-index: 3;
	}
	&__middle {
		position: absolute;
		top: em(34);
		height: em(52);
		left: 0;
		right: 0;
		margin: 0 auto;
		background-image: url(../../img/spool_back.png);
		z-index: 2;
	}
	&__spool-big {
		width: em(88);
		height: em(88);
		position: absolute;
		left: em(10);
		top: 50%;
		margin-top: em(-44);
		background-image: url(../../img/spool_big.png);
	}
	&__spool-small {
		@extend .amp__spool-big;
		left: auto;
		right: em(3);
		background-image: url(../../img/spool_small.png);
	}
	&__base {
		max-width: em(180);
		height: em(100);
		background-image: url(../../img/body_bottom.png);
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: em(74);
		z-index: 2;
	}
	&__play-wrap {
		width: em(69);
		height: em(53);
		background-image: url(../../img/play_button_back.png);
		position: absolute;
		top: em(10);
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	&__play-button {
		width: em(37);
		height: em(33);
		outline: none;
		border: none;
		background-image: url(../../img/play_button_off.png);
		background-color: transparent;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
		margin-top: em(-16);
	}
	&__play-button--active {
		@extend .amp__play-button;
		background-image: url(../../img/play_button_on.png);
	}
}

// amp animations //

.spin {
	@include animation(spin 3.6s linear infinite);
}

@include keyframes(spin) {
	0% {
		@include transform(rotate(0));
	}
	100% {
		@include transform(rotate(360deg));
	}
}

//////////////////////////////////////////////////

$module: 		content;

.#{$module} {
	&__title {
		font-size: em(30);
		padding-bottom: em(5,36);
		//border-bottom: 1px solid rgba(0,0,0,0.4);
		color: $white;
		text-shadow: 0 0 1px rgba(0,0,0,0.6);
		text-transform: lowercase;
	}

	&__post {
		padding: 0 20px 0;
		//box-shadow: 0px 0px 2px lighten($black,10%);
		//border: 1px solid $darkGray;
		margin: em(20) auto 0;
		//border-radius: 8px;
		background-color: transparent;
		font-weight: 400;
		color: $secondaryGray;
		//border-bottom: 1px solid $white;

		&:after {
			content: "";
			background-color: $white;
			height: 1px;
			width: 70%;
			margin: 0 auto;
			display: block;
			margin-top: em(20);
			opacity: 0.1;
		}

		p {
			line-height: 1.2;
			font-size: em(20);

			&:first-of-type {
				padding-top: em(10,20);
			}
		}
	}

	&__image {
		max-width: em(300);
		height: auto;
		display: block;
		@include transition(transform 0.3s);
		cursor: pointer;
		display: block;
		margin: 0 auto;
		padding-top: em(10);
		&:hover {
			@include transform(scale(1.4));
		}
	}
}